@model IMS_Project.Models.Customer

@{
    ViewBag.Title = "Customer";
    ViewBag.SubTitle = "Details";
}

<div class="row">
    <div class="col-md-8">
        <dl class="dl-horizontal ">
            <dt>
                @Html.DisplayNameFor(model => model.First_Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.First_Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Last_Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Last_Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Password)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Age)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Age)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Gender)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Gender)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateofBirth)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateofBirth)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Organization)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Organization)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Country)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Country)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.State)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.State)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.City)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PostalCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PostalCode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AltEmail)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AltEmail)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Phone1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Phone1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Phone2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Phone2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Mobile1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Mobile1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Mobile2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Mobile2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Picture)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Picture)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.status)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastLogin)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastLogin)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Created)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Created)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Notes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Notes)
            </dd>

        </dl>
    </div>
    <div class="col-md-4">
        <div>
            <img src="~/Content/Images/ProfileImage.svg" alt="" class="img-thumbnail" width="160" height="160" />
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
